.app310env/
.env
onto/__pycache__/
onto/files/songfiles
onto/files/dictfiles
model/__pycache__
model_data
ontology.ttl
ontologyv1.ttl
modelv2.model
modelv2emb.emb
similarity_songs.txt
ontologyv2.ttl
onto/chordifier_check.py
debugs.txt
modelv3.model
modelv3emb.emb